# API key of telegram
API_KEY_TELEGRAM=
# List of admins
ADMINS=
# Telegram group id
GROUP_ID=
# Telegram group link
GROUP_LINK=

# Database host
POSTGRES_HOST="127.0.0.1"
# Database port
POSTGRES_PORT=5432
# Database name
POSTGRES_DB=postgres_db
# Database user
POSTGRES_USER=test
# Database password
POSTGRES_PASSWORD=test